{% extends "base.html" %}
{% load static %}
{% block body %}
    <h6 class="nav-item" style="display: none;">首页</h6>
    <div role="alert" id="alert">

    </div>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-md-6 col-xl-4">
                <div class="h-100 bg-light rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">今日待办</h6>
                        <a href="{% url 'todo' %}"><i class="fa fa-angle-double-right"></i></a>
                    </div>
                    <div class="d-flex mb-2">
                        <input class="form-control bg-transparent" type="text" placeholder="待办描述" name="describe">
                        <button type="button" class="btn btn-primary ms-2" onclick="add_today_todo()">Add</button>
                    </div>
                    <div id="todo_five">

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4">
                <div class="h-100 bg-light rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">日历</h6>
                    </div>
                    <div id="calender"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4">
                <div class="h-100 bg-light rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h6 class="mb-0">操作记录</h6>
                        <a href="{% url 'record' %}"><i class="fa fa-angle-double-right"></i></a>
                    </div>
                    <div id="record">

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">诗词推荐</h6>
                    <div class="owl-carousel testimonial-carousel">
                        {% for foo in obj %}
                            <div class="testimonial-item text-center">
                                <h5 class="mb-1">《{{ foo.poetry_name }}》</h5>
                                {% if foo.author %}
                                    <p>{{ foo.dynasty }}·{{ foo.author }}</p>
                                {% else %}
                                    <p>-佚名</p>
                                {% endif %}

                                <p class="mb-0">{{ foo.phrase }}
                                    <a href="javascript:void(0);" onclick="poetry_detail('{{ foo.id }}');"><i
                                            class="fa fa-angle-double-right"></i>
                                    </a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4" id="poetry-detail">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        function todo_number() {
            let ale = $("#alert");
            let username = "{{ user.username }}";
            let token = sessionStorage.getItem(username);
            $.ajax({
                type: "post",
                url: "/nb/do/5/",
                headers: {
                    "Authorization": token
                },
                async: false,
                success: function (result) {
                    console.log(result);
                    let code = result.code;
                    let message = result.message;
                    let data = result.data;
                    if (code === 200) {
                        let content = "";
                        let todo = $("#todo_five");
                        for (let i = 0; i < data.length; i++) {
                            if (data[i].is_done === 1) {
                                content += '<div class="d-flex align-items-center border-bottom py-2">' +
                                    `<input class="form-check-input m-0" type="checkbox" onclick="todo_done('${data[i].id}', true)">` +
                                    '<div class="w-100 ms-3">' +
                                    '<div class="d-flex w-100 align-items-center justify-content-between">' +
                                    `<span id="cen"><del>${data[i].describe}</del></span>` +
                                    `<button class="btn btn-sm" onclick="del_home('${data[i].id}')"><i class="fa fa-times"></i></button>` +
                                    '</div></div></div>';
                            } else {
                                content += '<div class="d-flex align-items-center border-bottom py-2">' +
                                    `<input class="form-check-input m-0" type="checkbox" onclick="todo_done('${data[i].id}', false)">` +
                                    '<div class="w-100 ms-3">' +
                                    '<div class="d-flex w-100 align-items-center justify-content-between">' +
                                    `<span id="cen">${data[i].describe}</span>` +
                                    `<button class="btn btn-sm" onclick="del_home('${data[i].id}')"><i class="fa fa-times"></i></button>` +
                                    '</div></div></div>';
                            }
                        }
                        todo.append(content);
                    } else if (code === 401) {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }, error: function () {
                    ale.html("出现未知异常，请联系Bruce.").addClass('alert-danger').show().delay(1500).fadeOut();
                }
            })
        }


        function todo_done(todo_id, flag) {
            let text = "";
            if (flag) {
                text = "请确认标记未完成.";
            } else {
                text = "请确认标记已完成."
            }
            let dataJson = JSON.stringify({"flag": flag});
            if (window.confirm(text)) {
                let ale = $("#alert");
                let username = "{{ user.username }}";
                let token = sessionStorage.getItem(username);
                $.ajax({
                    type: "post",
                    url: `/nb/do/done/${todo_id}/`,
                    headers: {
                        "Authorization": token
                    },
                    dataType: "json",
                    data: dataJson,
                    async: false,
                    success: function (result) {
                        let code = result.code
                        let message = result.message
                        if (code === 200) {
                            ale.html("标记成功.").addClass("alert-success").show().delay(1500).fadeOut();
                            setTimeout(function () {
                                top.location.href = `{% url 'index' %}`
                            }, 1500);
                        } else if (code === 401) {
                            ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                            setTimeout(function () {
                                top.location.href = "{% url 'login' %}";
                            }, 1500);
                        } else {
                            ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        }
                    }, error: function () {
                        ale.html("出现未知异常，请联系Bruce.").addClass('alert-danger').show().delay(1500).fadeOut();
                    }
                })
            } else {
                return false;//取消
            }
        }

        function add_today_todo() {
            let describe = $("input[name='describe']").val();
            let ale = $("#alert");
            if (!describe) {
                ale.html("待办描述 字段不能为空.").addClass("alert-warning").show().delay(1500).fadeOut();
                return
            } else if (describe.length < 6) {
                ale.html("待办描述 字段需要大于6位.").addClass("alert-warning").show().delay(1500).fadeOut();
                return
            }
            let dataJson = JSON.stringify({
                "describe": describe,
            })
            let username = "{{ user.username }}";
            let token = sessionStorage.getItem(username);
            $.ajax({
                type: "post",
                url: "{% url 'todo_add' %}",
                headers: {
                    "Authorization": token
                },
                dataType: "json",
                data: dataJson,
                async: false,
                success: function (result) {
                    console.log(result);
                    let code = result.code;
                    let message = result.message;
                    if (code === 200) {
                        ale.html("保存成功.").addClass("alert-success").show().delay(1500).fadeOut();
                        let page = "{{ page }}";
                        setTimeout(function () {
                            top.location.href = `{% url 'index' %}`;
                        }, 1500);
                    } else if (code === 401) {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }, error: function () {
                    ale.html("出现未知异常，请联系Bruce.").addClass('alert-danger').show().delay(1500).fadeOut();
                }
            })
        }

        function del_home(todo_id) {
            if (window.confirm("请确认不再展示到首页.")) {
                let ale = $("#alert");
                let username = "{{ user.username }}";
                let token = sessionStorage.getItem(username);
                $.ajax({
                    type: "post",
                    url: `/nb/do/home/${todo_id}/`,
                    headers: {
                        "Authorization": token
                    },
                    async: false,
                    success: function (result) {
                        console.log(result);
                        let code = result.code
                        let message = result.message
                        if (code === 200) {
                            ale.html("操作成功.").addClass("alert-success").show().delay(1500).fadeOut();
                            setTimeout(function () {
                                top.location.href = `{% url 'index' %}`
                            }, 1500);
                        } else if (code === 400) {
                            ale.html("请先标记已完成.").addClass("alert-warning").show().delay(1500).fadeOut();
                        } else if (code === 401) {
                            ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                            setTimeout(function () {
                                top.location.href = "{% url 'login' %}";
                            }, 1500);
                        } else {
                            ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        }
                    }, error: function () {
                        ale.html("出现未知异常，请联系Bruce.").addClass('alert-danger').show().delay(1500).fadeOut();
                    }
                })
            } else {
                return false;//取消
            }
        }

        function poetry_detail(poetry_id) {
            let ale = $("#alert");
            let poetry_detail = $("#poetry-detail");
            poetry_detail.find("div").remove();
            let username = "{{ user.username }}";
            let token = sessionStorage.getItem(username);
            $.ajax({
                type: "post",
                url: `/nb/poetry/detail/${poetry_id}/`,
                headers: {
                    "Authorization": token
                },
                async: false,
                success: function (result) {
                    console.log(result)
                    let code = result.code;
                    let message = result.message;
                    let data = result.data;
                    if (code === 200) {
                        let content = `<div><h5>${data.phrase}</h5>`;
                        if (data.author && data.dynasty) {
                            content += `<p>出自${data.dynasty}·${data.author}的《${data.name}》</p><br>`;
                        } else {
                            content += "<p>摘自《${data.name}》</p><br>"
                        }
                        if (data.explain) {
                            content += `<p>解释：${data.explain}</p><br>`
                        }
                        if (data.appreciation) {
                            content += `<p>赏析：${data.appreciation}</p><br>`
                        }
                        if (data.original) {
                            content += `<h6>原文</h6><p>${data.original}</p><br>`
                        }
                        if (data.translation) {
                            content += `<h6>译文</h6><p>${data.translation}</p><br>`
                        }
                        if (data.background) {
                            content += `<h6>创作背景</h6><p>${data.background}</p><br>`
                        }
                        if (data.author && data.introduce) {
                            content += `<h6>${data.author}</h6><p>${data.introduce}</p>`
                        }
                        content += "</div>"
                        poetry_detail.append(content)
                    } else if (code === 401) {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }, error: function () {
                    ale.html("出现未知异常，请联系Bruce.").addClass('alert-danger').show().delay(1500).fadeOut();
                }
            })
        }

        function record() {
            let ale = $("#alert");
            let record_obj = $("#record");
            record_obj.find("div").remove();
            let username = "{{ user.username }}";
            let token = sessionStorage.getItem(username);
            $.ajax({
                type: "post",
                url: `{% url 'record_five' %}`,
                headers: {
                    "Authorization": token
                },
                async: false,
                success: function (result) {
                    console.log(result)
                    let code = result.code;
                    let message = result.message;
                    let data = result.data;
                    if (code === 200) {
                        let content = "";
                        for (let i = 0; i < data.length; i++) {
                            let action_time = "";
                            if (data[i].format_time){
                                action_time = data[i].format_time
                            }else {
                                action_time = data[i].action_time
                            }
                            content += `<div class="d-flex align-items-center border-bottom py-3">` +
                                `<div class="w-100 ms-3">` +
                                `<div class="d-flex w-100 justify-content-between">` +
                                `<span class="mb-0" id="cen">${data[i].change_message}</span>` +
                                `<small>${action_time}</small>` +
                                `</div></div></div>`
                        }
                        record_obj.append(content)

                    } else if (code === 401) {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }, error: function () {
                    ale.html("出现未知异常，请联系Bruce.").addClass('alert-danger').show().delay(1500).fadeOut();
                }
            })
        }

        record();
        todo_number();
    </script>
{% endblock %}