Django==3.2.16
mysqlclient==1.4.6
efinance==0.4.9
python-jose==3.3.0
django-redis==5.2.0
celery==5.2.7
redis==4.3.5
eventlet==0.33.2
django-celery-beat==2.4.0
chinesecalendar==1.8.0
django-simpleui==2022.11.30
starlette==0.22.0
django_pandas==0.6.6
python-dateutil~=2.8.2
requests~=2.28.1
jsonpath~=0.82
urllib3~=1.26.12
Faker~=15.3.3
gunicorn==20.1.0
gevent==22.10.2
supervisor==4.1.0
baostock==0.8.8
TA-Lib==0.4.24