{% extends "base.html" %}
{% load static %}
{% block body %}
    <div role="alert" id="alert"></div>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-6">
                <div class="bg-light rounded h-100 p-4">
                    <h5 class="nav-item">图表汇总</h5>
                    <span style="font-size: 12px;">{{ update_time }}更新</span>
                </div>
            </div>
            <div class="col-6">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="nav-item">股票分析</h6>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">今日走势</h6>
                        <canvas id="today"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4" id="buy-sell-name"></h6>
                        <canvas id="buy-sell"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4" id="kdj-day"></h6>
                        <canvas id="kdj"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4" id="five-day"></h6>
                        <canvas id="five-days"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4" id="ten-day"></h6>
                        <canvas id="ten-days"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4" id="twenty-day"></h6>
                        <canvas id="twenty-days"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4" id="all-day"></h6>
                        <canvas id="all-days"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-4 px-4">
        <a href="{% url 'stock' %}?page={{ page }}" type="button" class="btn btn-primary">返回</a>
        <a href="javascript:location.reload();" type="button" class="btn btn-primary">刷新</a>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'lib/chart/chart.min.js' %}"></script>
    <script>
        function List() {
            this.dataStore = [];
            this.append = function (data) {
                //根据当前数组的长度插入新的数据
                this.dataStore[this.length()] = data;
            }
            this.length = function () {
                //获得数组的长度
                var length = this.dataStore.length;
                return length;
            }
            //如果找到当前的数据，就返回当前数据的下标，如果没有找到数据就返回-1
            this.find = function (data) {
                //1,获得数组的长度
                var length = this.length();
                //2,设置返回数据的下标
                var index = -1;
                //3,遍历数据
                for (var i = 0; i < length; i++) {
                    if (data == this.dataStore[i]) {
                        index = i;
                        return index;
                    }
                }
                return index;
            }
            this.forEach = function (call) {
                //1,获得数组的长度
                var length = this.length();
                //2,遍历数据
                for (var i = 0; i < length; i++) {
                    call(this.dataStore[i]);
                }
            }
            //在after后面插入数据,如果after有数据，就插入在after后面，如果after没有数据，就把data插入到最后面的数据
            this.insert = function (data, after) {
                //找到当前after数据的下标
                var index = this.find(after);
                if (index == -1) {
                    //向队列后面添加数据
                    this.append(data);
                } else {
                    var length = this.length();
                    for (var i = length - 1; i > index; i--) {
                        this.dataStore[i + 1] = this.dataStore[i]
                    }
                    this.dataStore[index + 1] = data;
                }
            }
        }

        function TodayChart() {
            let ale = $("#alert");
            let username = "{{ user.username }}";
            let token = sessionStorage.getItem(username);
            $.ajax({
                type: "post",
                url: "{% url 'day_chart' %}",
                headers: {
                    "Authorization": token
                },
                async: false,
                success: function (result) {
                    console.log(result);
                    let code = result.code;
                    let message = result.message;
                    if (code === 200) {
                        let chart_obj = $("#today").get(0).getContext("2d");
                        let labels = result.data.labels;
                        let data = result.data;
                        let datasets = new List();
                        if (JSON.stringify(data) !== "{}") {
                            for (const key in data) {
                                if (key !== "labels" && key !== "days") {
                                    let borderColor = data[key].color;
                                    datasets.append({
                                        label: key,
                                        data: data[key].data,
                                        fill: true, // 阴影
                                        tension: 0.1, // 曲线
                                        showLine: true, // 是否展示线
                                        borderColor: borderColor // 折线颜色
                                    })
                                }
                            }
                        } else {
                            datasets.append({
                                label: "",
                                data: [],
                            })
                        }
                        let data_dict = {
                            labels: labels,
                            datasets: datasets.dataStore
                        }
                        let config = {
                            type: 'line', // 设置图表类型
                            data: data_dict,
                        };
                        new Chart(chart_obj, config);
                    } else if (code === 401) {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else {
                        $("#today").text(`<span>${message}</span>`);
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }

            })
        }

        function FiveDayChart() {
            let ale = $("#alert");
            let fiveDay = $("#five-day");
            let username = "{{ user.username }}";
            let token = sessionStorage.getItem(username);
            $.ajax({
                type: "post",
                url: "{% url 'five_chart' %}",
                headers: {
                    "Authorization": token
                },
                async: false,
                success: function (result) {
                    console.log(result);
                    let code = result.code;
                    let message = result.message;
                    let data = result.data;
                    if (code === 200) {
                        let chart_obj = $("#five-days").get(0).getContext("2d");
                        let labels = data.labels;
                        let days = 0;
                        if (data.days) {
                            days = data.days
                        }
                        let datasets = new List();
                        fiveDay.text(`${days}日走势`)
                        if (JSON.stringify(data) !== "{}") {
                            for (const key in data) {
                                if (key !== "labels" && key !== "days") {
                                    let borderColor = data[key].color;
                                    datasets.append({
                                        label: key,
                                        data: data[key].data,
                                        fill: true,
                                        tension: 0.1,
                                        borderColor: borderColor
                                    })
                                }
                            }
                        } else {
                            datasets.append({
                                label: "",
                                data: [],
                            })
                        }
                        let data_dict = {
                            labels: labels,
                            datasets: datasets.dataStore
                        }
                        let config = {
                            type: 'line', // 设置图表类型
                            data: data_dict,
                        };
                        new Chart(chart_obj, config);
                    } else if (code === 401) {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else {
                        $("#five-days").text(`<span>${message}</span>`);
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }
            })
        }

        function TenDayChart() {
            let ale = $("#alert");
            let tenDay = $("#ten-day");
            let username = "{{ user.username }}";
            let token = sessionStorage.getItem(username);
            $.ajax({
                type: "post",
                url: "{% url 'ten_chart' %}",
                headers: {
                    "Authorization": token
                },
                async: false,
                success: function (result) {
                    console.log(result);
                    let code = result.code;
                    let message = result.message;
                    let data = result.data;
                    if (code === 200) {
                        let chart_obj = $("#ten-days").get(0).getContext("2d");
                        let labels = data.labels;
                        let days = 0;
                        if (data.days) {
                            days = data.days
                        }
                        let datasets = new List();
                        tenDay.text(`${days}日走势`)
                        if (JSON.stringify(data) !== "{}") {
                            for (const key in data) {
                                if (key !== "labels" && key !== "days") {
                                    let borderColor = data[key].color;
                                    datasets.append({
                                        label: key,
                                        data: data[key].data,
                                        fill: true,
                                        tension: 0.1,
                                        borderColor: borderColor
                                    })
                                }
                            }
                        } else {
                            datasets.append({
                                label: "",
                                data: [],
                            })
                        }
                        let data_dict = {
                            labels: labels,
                            datasets: datasets.dataStore
                        }
                        let config = {
                            type: 'line', // 设置图表类型
                            data: data_dict,
                        };
                        new Chart(chart_obj, config);
                    } else if (code === 401) {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else {
                        $("#ten-days").text(`<span>${message}</span>`);
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }
            })
        }

        function twentyDayChart() {
            let ale = $("#alert");
            let tenDay = $("#twenty-day");
            let username = "{{ user.username }}";
            let token = sessionStorage.getItem(username);
            $.ajax({
                type: "post",
                url: "{% url 'twenty_chart' %}",
                headers: {
                    "Authorization": token
                },
                async: false,
                success: function (result) {
                    console.log(result);
                    let code = result.code;
                    let message = result.message;
                    let data = result.data;
                    if (code === 200) {
                        let chart_obj = $("#twenty-days").get(0).getContext("2d");
                        let labels = data.labels;
                        let days = 0;
                        if (data.days) {
                            days = data.days
                        }
                        let datasets = new List();
                        tenDay.text(`${days}日走势`)
                        if (JSON.stringify(data) !== "{}") {
                            for (const key in data) {
                                if (key !== "labels" && key !== "days") {
                                    let borderColor = data[key].color;
                                    datasets.append({
                                        label: key,
                                        data: data[key].data,
                                        fill: true,
                                        tension: 0.1,
                                        borderColor: borderColor
                                    })
                                }
                            }
                        } else {
                            datasets.append({
                                label: "",
                                data: [],
                            })
                        }
                        let data_dict = {
                            labels: labels,
                            datasets: datasets.dataStore
                        }
                        let config = {
                            type: 'line', // 设置图表类型
                            data: data_dict,
                        };
                        new Chart(chart_obj, config);
                    } else if (code === 401) {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else {
                        $("#twenty-days").text(`<span>${message}</span>`);
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }
            })
        }

        function AllDayChart() {
            let ale = $("#alert");
            let allDay = $("#all-day");
            let username = "{{ user.username }}";
            let token = sessionStorage.getItem(username);
            $.ajax({
                type: "post",
                url: "{% url 'half_year_chart' %}",
                headers: {
                    "Authorization": token
                },
                async: false,
                success: function (result) {
                    console.log(result);
                    let code = result.code;
                    let message = result.message;
                    let data = result.data;
                    if (code === 200) {
                        let chart_obj = $("#all-days").get(0).getContext("2d");
                        let labels = data.labels;
                        let days = 0;
                        if (data.days) {
                            days = data.days
                        }
                        let datasets = new List();
                        allDay.text(`${days}日走势`)
                        if (JSON.stringify(data) !== "{}") {
                            for (const key in data) {
                                if (key !== "labels" && key !== "days") {
                                    let borderColor = data[key].color;
                                    datasets.append({
                                        label: key,
                                        data: data[key].data,
                                        fill: true,
                                        tension: 0.1,
                                        borderColor: borderColor
                                    })
                                }
                            }
                        } else {
                            datasets.append({
                                label: "",
                                data: [],
                            })
                        }
                        let data_dict = {
                            labels: labels,
                            datasets: datasets.dataStore
                        }
                        let config = {
                            type: 'line', // 设置图表类型
                            data: data_dict,
                        };
                        new Chart(chart_obj, config);
                    } else if (code === 401) {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else {
                        $("#all-days").text(`<span>${message}</span>`);
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }
            })
        }

        function buySell() {
            let ale = $("#alert");
            let buy = $("#buy-sell");
            let buy_name = $("#buy-sell-name");
            let username = "{{ user.username }}";
            let token = sessionStorage.getItem(username);
            $.ajax({
                type: "post",
                url: "{% url 'buy_sell' %}",
                headers: {
                    "Authorization": token
                },
                async: false,
                success: function (result) {
                    console.log("=========buySell=======>>>", result);
                    let code = result.code;
                    let message = result.message;
                    let data = result.data;
                    let name = "";
                    if (data) {
                        name = data.name;
                    }
                    if (code === 200) {
                        if (!data) {
                            data = {
                                "datasets": [{
                                    "label": "",
                                    "data": [],
                                }],
                                "labels": [],
                            }
                        }
                        let buy_obj = buy.get(0).getContext("2d");
                        buy_name.text(`${name}买入卖出托单`)
                        let config = {
                            type: 'bar', // 设置图表类型
                            data: data,
                        };
                        new Chart(buy_obj, config);
                    } else if (code === 401) {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else {
                        buy.text(`<span>${message}</span>`);
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }
            })
        }

        function KDJChart() {
            let ale = $("#alert");
            let kdj = $("#kdj-day");
            let username = "{{ user.username }}";
            let token = sessionStorage.getItem(username);
            let dataJson = JSON.stringify({
                "stock_id": "{{ obj.id }}",
            })
            $.ajax({
                type: "post",
                url: "{% url 'kdj_chart' %}",
                headers: {
                    "Authorization": token
                },
                async: false,
                dataType: "json",
                data: dataJson,
                success: function (result) {
                    console.log("=========kdj_chart=======>>>", result);
                    let code = result.code;
                    let message = result.message;
                    if (code === 200) {
                        let chart_obj = $("#kdj").get(0).getContext("2d");
                        let labels = result.data.labels;
                        let data = result.data;
                        let type = result.data.type;
                        let name = result.data.name;
                        let datasets = new List();
                        if (JSON.stringify(data) !== "{}") {
                            kdj.text(`${name}KDJ 分时级别 ${type}`)
                            for (const key in data) {
                                if (key !== "labels" && key !== "name" && key !== "type") {
                                    let borderColor = data[key].color;
                                    datasets.append({
                                        label: key,
                                        data: data[key].data,
                                        fill: true, // 阴影
                                        tension: 0.1, // 曲线
                                        showLine: true, // 是否展示线
                                        borderColor: borderColor // 折线颜色
                                    })
                                }
                            }
                        } else {
                            datasets.append({
                                label: "",
                                data: [],
                            })
                        }
                        let data_dict = {
                            labels: labels,
                            datasets: datasets.dataStore
                        }
                        let config = {
                            type: 'line', // 设置图表类型
                            data: data_dict,
                        };
                        new Chart(chart_obj, config);
                    } else if (code === 401) {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else {
                        $("#today").text(`<span>${message}</span>`);
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }

            })
        }

        TodayChart();
        FiveDayChart();
        TenDayChart();
        twentyDayChart();
        AllDayChart();
        buySell();
        KDJChart();
    </script>
{% endblock %}