{% extends 'base.html' %}

{% block css %}
    <style>
        #text {
            margin-left: 5%;
        }

        #text-style {
            font-weight: 900;
        }
    </style>
{% endblock %}

{% block body %}
    <div role="alert" id="alert">

    </div>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="nav-item mb-4">股票分析</h6>
                    <form>
                        <span style="font-size: 12px;">{{ update_time|default:"未" }}更新</span>
                        <div class="bg-light rounded h-100 p-4">
                            <div class="input-group mb-3">
                                <span id="text">股票：</span><span id="text-style">{{ obj.name }}</span>
                                <span id="text">代码：</span><span id="text-style">{{ obj.code }}</span>
                                <span id="text">数量：</span><span id="text-style">{{ obj.number|default:"--" }} 股</span>
                                <span id="text">成本：</span><span
                                    id="text-style">{{ obj.cost_price|default:"--" }} 元/股</span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">盈亏：</span>
                                {% if obj.profit_and_loss > 0 %}
                                    <span id="text-style" style="color: red">{{ obj.profit_and_loss }} 元</span>
                                {% elif obj.profit_and_loss < 0 %}
                                    <span id="text-style" style="color: green">{{ obj.profit_and_loss }} 元</span>
                                {% else %}
                                    <span id="text-style">{{ obj.profit_and_loss|default:"--" }} 元</span>
                                {% endif %}
                                <span id="text">日盈：</span>
                                {% if obj.today_price > 0 %}
                                    <span id="text-style" style="color: red">{{ obj.today_price }} 元</span>
                                {% elif obj.today_price < 0 %}
                                    <span id="text-style" style="color: green">{{ obj.today_price }} 元</span>
                                {% else %}
                                    <span id="text-style">{{ obj.today_price|default:"--" }} 元</span>
                                {% endif %}
                            </div>
                        </div>
                        {% if dragon_obj %}
                            <div class="bg-light rounded h-100 p-4">
                                <p class="nav-item mb-4" id="text-style"><a href="{% url 'dragon' %}">龙虎榜</a></p>
                                <div class="input-group mb-3">
                                    <span id="text">解读：</span>
                                    <span id="text-style">
                                    {{ dragon_obj.unscramble }}
                                    </span>
                                    <span id="text">上榜原因：</span>
                                    <span id="text-style">
                                    {{ dragon_obj.reason }}
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                        {% if text %}
                            <div class="bg-light rounded h-100 p-4">
                                <p class="nav-item mb-4" id="text-style">预测</p>
                                {% if text.inflow.text %}
                                    <div class="input-group mb-3">
                                        <span id="text"></span>
                                        <span id="text"
                                              style="color: {{ text.inflow.color }}">{{ text.inflow.text }}</span>
                                    </div>
                                {% endif %}
                                {% if text.buy.text %}
                                    <div class="input-group mb-3">
                                        <span id="text"></span>
                                        <span id="text" style="color: {{ text.buy.color }}">{{ text.buy.text }}</span>
                                    </div>
                                {% endif %}
                                {% if text.tra %}
                                    <div class="input-group mb-3">
                                        <span id="text"></span>
                                        <span id="text">{{ text.tra }}</span>
                                    </div>
                                {% endif %}
                                {% for foo in index_list %}
                                    <div class="input-group mb-3">
                                        <span id="text"></span>
                                        <a href="/nb/stock/chart/{{ obj.id }}/" id="text">{{ foo }}</a>
                                    </div>
                                {% endfor %}

                            </div>
                        {% endif %}
                        <div class="bg-light rounded h-100 p-4">
                            <p class="nav-item mb-4" id="text-style">盘口</p>
                            <div class="input-group mb-3">
                                <span id="text">最新：</span>
                                <span id="text-style" style="color: {{ detail.nowPri.color }}">
                                    {{ detail.nowPri.nowPri|default:"--" }} 元/股
                                </span>
                                <span id="text">均价：</span>
                                <span id="text-style" style="color: {{ detail.avg_price.color }}">
                                    {{ detail.avg_price.avg_price|default:"--" }} 元/股
                                </span>
                                <span id="text">涨幅：</span>
                                <span id="text-style" style="color: {{ detail.increPer.color }}">
                                    {{ detail.increPer.increPer|default:"--" }} %
                                </span>
                                <span id="text">跌涨：</span>
                                <span id="text-style" style="color: {{ detail.increase.color }}">
                                    {{ detail.increase.increase|default:"--" }} 元
                                </span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">总手：</span><span
                                    id="text-style">{{ detail.traNumber|default:"--" }}</span>
                                <span id="text">金额：</span><span
                                    id="text-style">{{ detail.traAmount|default:"--" }}</span>
                                <span id="text">换手：</span><span id="text-style">{{ detail.turnover_rate|default:"--" }} %</span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">最高：</span>
                                <span id="text-style" style="color: {{ detail.todayMax.color }}">
                                    {{ detail.todayMax.todayMax|default:"--" }} 元/股
                                </span>
                                <span id="text">最低：</span>
                                <span id="text-style" style="color: {{ detail.todayMin.color }}">
                                    {{ detail.todayMin.todayMin|default:"--" }} 元/股
                                </span>
                                <span id="text">今开：</span>
                                <span id="text-style" style="color:{{ detail.todayStartPri.color }};">
                                {{ detail.todayStartPri.todayStartPri|default:"--" }} 元/股
                                </span>
                                <span id="text">昨价：</span><span
                                    id="text-style">{{ detail.yestodEndPri|default:obj.last_close_price }} 元/股</span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">涨停：</span><span id="text-style" style="color: red">
                                {{ detail.top_price|default:"--" }} 元/股</span>
                                <span id="text">跌停：</span><span id="text-style" style="color: green">
                                {{ detail.down_price|default:"--" }} 元/股</span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">净利润：</span><span
                                    id="text-style">{{ detail.net_profit|default:"--" }}</span>
                                <span id="text">净利率：</span><span
                                    id="text-style">{{ detail.net_interest_rate|default:"--" }}</span>
                                <span id="text">毛利率：</span><span
                                    id="text-style">{{ detail.gross_profit_margin|default:"--" }}</span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">总市值：</span><span
                                    id="text-style">{{ detail.total_market_value|default:"--" }}</span>
                                <span id="text">流通市值：</span><span
                                    id="text-style">{{ detail.circulation_market_value|default:"--" }}</span>
                                <span id="text">市盈率(动)：</span><span
                                    id="text-style">{{ detail.P_E_ratio_dynamic|default:"--" }}</span>
                                <span id="text">净资产收益率：</span><span
                                    id="text-style">{{ detail.ROE_ratio|default:"--" }}</span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">所处行业：</span><span
                                    id="text-style">{{ detail.industry|default:"--" }}</span>
                            </div>
                        </div>
                        <div class="bg-light rounded h-100 p-4">
                            <p class="nav-item mb-4" id="text-style">今日资金流向(万元)</p>
                            <div class="input-group mb-3">
                                <span id="text">主力净流入：</span>
                                <span id="text-style" style="color: {{ inflow.main.color }}">
                                {{ inflow.main.main_inflow|default:0 }}
                                </span>
                                <span id="text">超大单净流入：</span>
                                <span id="text-style" style="color: {{ inflow.huge.color }}">
                                {{ inflow.huge.huge_inflow|default:0 }}
                                </span>
                                <span id="text">大单净流入：</span>
                                <span id="text-style" style="color: {{ inflow.big.color }}">
                                {{ inflow.big.big_inflow|default:0 }}
                                </span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">中单净流入：</span>
                                <span id="text-style" style="color: {{ inflow.middle.color }}">
                                {{ inflow.middle.middle_inflow|default:0 }}
                                </span>
                                <span id="text">小单净流入：</span>
                                <span id="text-style" style="color: {{ inflow.small.color }}">
                                {{ inflow.small.small_inflow|default:0 }}
                                </span>
                            </div>
                        </div>
                        <div class="bg-light rounded h-100 p-4">
                            <p class="nav-item mb-4" id="text-style">主力资金趋势(万元)</p>
                            <div class="input-group mb-3">
                                <span id="text">当日净流入：</span>
                                <span id="text-style" style="color: {{ inflow.main.color }}">
                                {{ inflow.main.main_inflow|default:0 }}
                                </span>
                                <span id="text">5日净流入：</span>
                                <span id="text-style" style="color: {{ inflow.five.color }}">
                                {{ inflow.five.five_price|default:0 }}
                                </span>
                                <span id="text">20日净流入：</span>
                                <span id="text-style" style="color: {{ inflow.twenty.color }}">
                                {{ inflow.twenty.twenty_price|default:0 }}
                                </span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">60日净流入：</span>
                                <span id="text-style" style="color: {{ inflow.sixty.color }}">
                                {{ inflow.sixty.sixty_price|default:0 }}
                                </span>
                            </div>
                        </div>
                        <div class="bg-light rounded h-100 p-4">
                            <p class="nav-item mb-4" id="text-style">成交明细</p>
                            <div class="col-sm-12 col-xl-12">
                                <div class="bg-light rounded h-100 p-4">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th scope="col">时间</th>
                                            <th scope="col">成交价</th>
                                            <th scope="col">成交量</th>
                                            <th scope="col">单数</th>
                                        </tr>
                                        </thead>
                                        <tbody id="deal_more">
                                        {% for foo in deal_list %}
                                            <tr>
                                                <td>{{ foo.time }}</td>
                                                {% if foo.deal_price > foo.old_price %}
                                                    <td>
                                                        <spn style="color: red;">{{ foo.deal_price }}</spn>
                                                        {% if foo.color == "red" %}
                                                            <spn style="color: red;">
                                                                <i class="fa fa-angle-up"></i>
                                                            </spn>
                                                        {% elif foo.color == "green" %}
                                                            <spn style="color: green;">
                                                                <i class="fa fa-angle-down"></i>
                                                            </spn>
                                                        {% endif %}
                                                    </td>
                                                {% elif foo.deal_price < foo.old_price %}
                                                    <td>
                                                        <spn style="color: green;">{{ foo.deal_price }}</spn>
                                                        {% if foo.color == "red" %}
                                                            <spn style="color: red;">
                                                                <i class="fa fa-angle-up"></i>
                                                            </spn>
                                                        {% elif foo.color == "green" %}
                                                            <spn style="color: green;">
                                                                <i class="fa fa-angle-down"></i>
                                                            </spn>
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td>{{ foo.deal_price }}</td>
                                                {% endif %}
                                                <td style="color:{{ foo.color }};">{{ foo.deal_number }}</td>
                                                <td>{{ foo.singular }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% if deal_list %}
                                        <a style="margin-left: 40%" href="javascript:void(0);" onclick="deal_more()">
                                            查看更多<i class="fa fa-angle-right" id="btn-deal"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="bg-light rounded h-100 p-4">
                            <p class="nav-item mb-4" id="text-style">所属板块</p>
                            <div class="col-sm-12 col-xl-12">
                                <div class="bg-light rounded h-100 p-4">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">板块名称</th>
                                            <th scope="col">板块代码</th>
                                            <th scope="col">板块涨幅</th>
                                            <th scope="col">更新时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for foo in sector %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td id="cen">{{ foo.sector_name }}</td>
                                                <td>{{ foo.sector_code }}</td>
                                                {% if foo.sector_rate > 0 %}
                                                    <td id="text-style" style="color: red;">
                                                        {{ foo.sector_rate }}%
                                                    </td>
                                                {% elif foo.sector_rate < 0 %}
                                                    <td id="text-style" style="color: green;">
                                                        {{ foo.sector_rate }}%
                                                    </td>
                                                {% else %}
                                                    <td id="text-style">{{ foo.sector_rate }}%</td>
                                                {% endif %}
                                                <td>{{ foo.update_date }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="bg-light rounded h-100 p-4">
                            <p class="nav-item mb-4" id="text-style">股东信息</p>
                            <div class="col-sm-12 col-xl-12">
                                <div class="col-sm-3 col-xl-3">
                                    <div class="bg-light rounded h-20 p-1">
                                        <select class="form-select form-select-sm mb-1"
                                                aria-label=".form-select-sm example"
                                                id="date_time">
                                            {% if last_day %}
                                                <option selected value="{{ last_day }}">{{ last_day }}</option>
                                            {% endif %}
                                            {% for foo in date_list %}
                                                <option value="{{ foo }}">{{ foo }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="bg-light rounded h-100 p-4">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">股东名称</th>
                                            <th scope="col">股东代码</th>
                                            <th scope="col">持股数</th>
                                            <th scope="col">持股比例</th>
                                            <th scope="col">增减</th>
                                            <th scope="col">变动率</th>
                                            <th scope="col">更新时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for foo in holder %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td id="cen">{{ foo.holder_name }}</td>
                                                <td>{{ foo.holder_code }}</td>
                                                <td>{{ foo.hold_number }}</td>
                                                <td>{{ foo.hold_rate }} %</td>
                                                <td>{{ foo.fluctuate }}</td>
                                                <td>{{ foo.fluctuate_rate }}</td>
                                                <td>{{ foo.time }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% if holder_number %}
                            <div class="bg-light rounded h-100 p-4">
                                <p class="nav-item mb-4" id="text-style">股东数量</p>
                                <div class="col-sm-12 col-xl-12">
                                    <div class="bg-light rounded h-100 p-4">
                                        <table class="table table-borderless">
                                            <thead>
                                            <tr>
                                                <th scope="col">股东人数</th>
                                                <th scope="col">股东人数增减</th>
                                                <th scope="col">较上期变化百分比</th>
                                                <th scope="col">股东户数统计截止日</th>
                                                <th scope="col">户均持股市值</th>
                                                <th scope="col">户均持股数量</th>
                                                <th scope="col">总市值</th>
                                                <th scope="col">总股本</th>
                                                <th scope="col">公告日期</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ holder_number.holder_number }}</td>
                                                <td>{{ holder_number.fluctuate }}</td>
                                                <td>{{ holder_number.diff_rate }}</td>
                                                <td>{{ holder_number.end_time }}</td>
                                                <td>{{ holder_number.avg_amount }}</td>
                                                <td>{{ holder_number.avg_number }}</td>
                                                <td>{{ holder_number.total_amount }}</td>
                                                <td>{{ holder_number.total_price }}</td>
                                                <td>{{ holder_number.notice_date }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <a href="{% url 'stock' %}?page={{ page }}" type="button" class="btn btn-primary">返回</a>
                        <a href="javascript:location.reload();" type="button" class="btn btn-primary">刷新</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function enlarge(imgId) {
            document.getElementById('myImg').style.display = "block";
            document.getElementById("img01").src = document.getElementById(imgId).src;
        }

        $("#date_time").change(function () {
            let last_day = $("#date_time option:selected").val();
            let ale = $("#alert");
            ale.html("查询成功.").addClass("alert-success").show().delay(1500).fadeOut();
            setTimeout(function () {
                top.location.href = `/nb/stock/look/{{ obj.id }}/?search-input=${last_day}`;
            }, 1500);
        })

        function deal_more() {
            let stock_id = "{{ obj.id }}";
            let more = $("#deal_more");
            let ale = $("#alert");
            let username = "{{ user.username }}";
            let token = sessionStorage.getItem(username);
            $.ajax({
                type: "post",
                url: `/nb/stock/deal/${stock_id}/`,
                headers: {
                    "Authorization": token
                },
                async: false,
                success: function (result) {
                    console.log("===deal_more===>>>", result);
                    let code = result.code;
                    let message = result.message;
                    let data = result.data;
                    if (code === 200) {
                        let content = "";
                        for (let i = 0; i < data.length; i++) {
                            content += `<tr><td>${data[i].time}</td>`
                            if (data[i].deal_price > data[i].old_price) {
                                content += `<td><spn style="color: red;">${data[i].deal_price}</spn>`
                                if (data[i].color === "red") {
                                    content += `<spn style="color: red;"><i class="fa fa-angle-up"></i></spn>`
                                } else if (data[i].color === "green") {
                                    content += `<spn style="color: green;"><i class="fa fa-angle-down"></i></spn>`
                                }
                                content += `</td>`
                            } else if (data[i].deal_price < data[i].old_price) {
                                content += `<td><spn style="color: green;">${data[i].deal_price}</spn>`
                                if (data[i].color === "red") {
                                    content += `<spn style="color: red;"><i class="fa fa-angle-up"></i></spn>`
                                } else if (data[i].color === "green") {
                                    content += `<spn style="color: green;"><i class="fa fa-angle-down"></i></spn>`
                                }
                                content += `</td>`
                            } else {
                                content += `<td>${data[i].deal_price}</td>`
                            }
                            content += `<td style="color:${data[i].color};">${data[i].deal_number}</td><td>${data[i].singular}</td></tr>`
                        }
                        more.append(content);
                    } else if (code === 401) {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }, error: function () {
                    ale.html("出现未知异常，请联系Bruce.").addClass('alert-danger').show().delay(1500).fadeOut();
                }
            })
        }
    </script>
{% endblock %}

