{% extends 'base.html' %}

{% block css %}
    <style>

        /* 弹窗的位置和背景颜色 */
        .modal {
            display: none;
            position: fixed; /* 绝对定位 */
            z-index: 1; /* 元素置前 */
            padding-top: 50px;
            width: 100%;
            height: 100%;
            overflow: auto; /* 溢出出现滚动条 */
        }

        /* 弹窗图片的大小 */
        .myContent {
            margin: auto;
            display: block;
            min-height: 500px;
            max-height: 600px;
            background-color: #F3F6F9;
        }

        #text {
            margin-left: 5%;
        }

        #text-style {
            font-weight: 900;
        }
    </style>
{% endblock %}

{% block body %}
    <div role="alert" id="alert">

    </div>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="nav-item mb-4">股票分析</h6>
                    <form>
                        <span style="font-size: 12px;">{{ update_time }}更新</span>
                        <div class="bg-light rounded h-100 p-4">
                            <p class="nav-item mb-4" id="text-style">详情</p>
                            <div class="input-group mb-3">
                                <span id="text">股票：</span><span id="text-style">{{ obj.name }}</span>
                                <span id="text">代码：</span><span id="text-style">{{ obj.code }}</span>
                                <span id="text">数量：</span><span id="text-style">{{ obj.number }} 股</span>
                                <span id="text">成本：</span><span id="text-style">{{ obj.cost_price }} 元/股</span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">盈亏：</span>
                                {% if obj.profit_and_loss > 0 %}
                                    <span id="text-style" style="color: red">{{ obj.profit_and_loss }}</span>
                                {% elif obj.profit_and_loss < 0 %}
                                    <span id="text-style" style="color: green">{{ obj.profit_and_loss }}</span>
                                {% else %}
                                    <span id="text-style">{{ obj.profit_and_loss }}</span>
                                {% endif %}
                                <i>元</i>
                                <span id="text">日盈：</span>
                                {% if obj.today_price > 0 %}
                                    <span id="text-style" style="color: red">{{ obj.today_price }}</span>
                                {% elif obj.today_price < 0 %}
                                    <span id="text-style" style="color: green">{{ obj.today_price }}</span>
                                {% else %}
                                    <span id="text-style">{{ obj.today_price }}</span>
                                {% endif %}
                                <i>元</i>
                                <span id="text">涨停：</span><span id="text-style" style="color: red">
                                {{ detail.top_price }}</span><i>元/股</i>
                                <span id="text">跌停：</span><span id="text-style" style="color: green">
                                {{ detail.down_price }}</span><i>元/股</i>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">今开：</span>
                                <span id="text-style" style="color:{{ detail.todayStartPri.color }};">
                                {{ detail.todayStartPri.todayStartPri }} 元/股
                                </span>
                                <span id="text">昨价：</span><span id="text-style">{{ detail.yestodEndPri }} 元/股</span>
                                <span id="text">最新：</span>
                                <span id="text-style" style="color: {{ detail.nowPri.color }}">
                                    {{ detail.nowPri.nowPri }} 元/股
                                </span>
                                <span id="text">均价：</span>
                                <span id="text-style" style="color: {{ detail.avg_price.color }}">
                                    {{ detail.avg_price.avg_price }} 元/股
                                </span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">最高：</span>
                                <span id="text-style" style="color: {{ detail.todayMax.color }}">
                                    {{ detail.todayMax.todayMax }} 元/股
                                </span>
                                <span id="text">最低：</span>
                                <span id="text-style" style="color: {{ detail.todayMin.color }}">
                                    {{ detail.todayMin.todayMin }} 元/股
                                </span>
                                <span id="text">换手：</span><span id="text-style">{{ detail.turnover_rate }} %</span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">涨幅：</span>
                                <span id="text-style" style="color: {{ detail.increPer.color }}">
                                    {{ detail.increPer.increPer }} %
                                </span>
                                <span id="text">涨额：</span>
                                <span id="text-style" style="color: {{ detail.increase.color }}">
                                    {{ detail.increase.increase }} 元
                                </span>
                                <span id="text">成交量：</span><span id="text-style">{{ detail.traNumber }} 手</span>
                                <span id="text">成交额：</span><span id="text-style">{{ detail.traAmount }} 万元</span>
                            </div>
                        </div>
                        <div class="bg-light rounded h-100 p-4">
                            <p class="nav-item mb-4" id="text-style">今日资金流向(万元)</p>
                            <div class="input-group mb-3">
                                <span id="text">主力净流入：</span>
                                <span id="text-style" style="color: {{ inflow.main.color }}">
                                {{ inflow.main.main_inflow }}
                                </span>
                                <span id="text">超大单净流入：</span>
                                <span id="text-style" style="color: {{ inflow.huge.color }}">
                                {{ inflow.huge.huge_inflow }}
                                </span>
                                <span id="text">大单净流入：</span>
                                <span id="text-style" style="color: {{ inflow.big.color }}">
                                {{ inflow.big.big_inflow }}
                                </span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">中单净流入：</span>
                                <span id="text-style" style="color: {{ inflow.middle.color }}">
                                {{ inflow.middle.middle_inflow }}
                                </span>
                                <span id="text">小单净流入：</span>
                                <span id="text-style" style="color: {{ inflow.small.color }}">
                                {{ inflow.small.small_inflow }}
                                </span>
                            </div>
                        </div>
                        <div class="bg-light rounded h-100 p-4">
                            <p class="nav-item mb-4" id="text-style">主力资金趋势(万元)</p>
                            <div class="input-group mb-3">
                                <span id="text">当日净流入：</span>
                                <span id="text-style" style="color: {{ inflow.main.color }}">
                                {{ inflow.main.main_inflow }}
                                </span>
                                <span id="text">5日净流入：</span>
                                <span id="text-style" style="color: {{ inflow.five.color }}">
                                {{ inflow.five.five_price }}
                                </span>
                                <span id="text">20日净流入：</span>
                                <span id="text-style" style="color: {{ inflow.twenty.color }}">
                                {{ inflow.twenty.twenty_price }}
                                </span>
                            </div>
                            <div class="input-group mb-3">
                                <span id="text">60日净流入：</span>
                                <span id="text-style" style="color: {{ inflow.sixty.color }}">
                                {{ inflow.sixty.sixty_price }}
                                </span>
                            </div>
                        </div>
                        <div class="bg-light rounded h-100 p-4">
                            <p class="nav-item mb-4" id="text-style">所属板块</p>
                            <div class="col-sm-12 col-xl-12">
                                <div class="bg-light rounded h-100 p-4">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">板块名称</th>
                                            <th scope="col">板块代码</th>
                                            <th scope="col">板块涨幅</th>
                                            <th scope="col">更新时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for foo in sector %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td id="cen">{{ foo.sector_name }}</td>
                                                <td>{{ foo.sector_code }}</td>
                                                {% if foo.sector_rate > 0 %}
                                                    <td id="text-style" style="color: red;">
                                                        {{ foo.sector_rate }}%
                                                    </td>
                                                {% elif foo.sector_rate < 0 %}
                                                    <td id="text-style" style="color: green;">
                                                        {{ foo.sector_rate }}%
                                                    </td>
                                                {% else %}
                                                    <td id="text-style">{{ foo.sector_rate }}%</td>
                                                {% endif %}
                                                <td>{{ foo.update_date }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="bg-light rounded h-100 p-4">
                            <p class="nav-item mb-4" id="text-style">股东信息</p>
                            <div class="col-sm-12 col-xl-12">
                                <div class="bg-light rounded h-100 p-4">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">股东名称</th>
                                            <th scope="col">股东代码</th>
                                            <th scope="col">持股数</th>
                                            <th scope="col">持股比例</th>
                                            <th scope="col">增减</th>
                                            <th scope="col">变动率</th>
                                            <th scope="col">更新时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for foo in holder %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td id="cen">{{ foo.holder_name }}</td>
                                                <td>{{ foo.holder_code }}</td>
                                                <td>{{ foo.hold_number }}</td>
                                                <td>{{ foo.hold_rate }} %</td>
                                                <td>{{ foo.fluctuate }}</td>
                                                <td>{{ foo.fluctuate_rate }}</td>
                                                <td>{{ foo.time }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'stock' %}?page={{ page }}" type="button" class="btn btn-primary">返回</a>
                        <a href="javascript:location.reload();" type="button" class="btn btn-primary">刷新</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function enlarge(imgId) {
            document.getElementById('myImg').style.display = "block";
            document.getElementById("img01").src = document.getElementById(imgId).src;
        }
    </script>
{% endblock %}

