{% extends 'base.html' %}


{% block body %}
    <div role="alert" id="alert">

    </div>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="nav-item mb-4">待办列表</h6>
                    <a class="btn btn-sm btn-sm-square btn-outline-primary m-2"
                       href="{% url 'todo_add' %}?page={{ page }}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">待办描述</th>
                                <th scope="col">截止日期</th>
                                <th scope="col">是否完成</th>
                                <th scope="col">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in object_list %}
                                <tr>
                                    <th scope="row" id="cen">{{ forloop.counter|add:flag }}</th>
                                    <td id="cen">{{ object.describe }}</td>
                                    {% if object.end_time != None %}
                                        <td id="cen">{{ object.end_time }}</td>
                                    {% else %}
                                        <td id="cen">-</td>
                                    {% endif %}
                                    {% if object.is_done == 0 %}
                                        <td style="color: orange;" onclick="todo_done('{{ object.id }}', false)"
                                            id="cen"
                                            title="未完成">
                                            <i class="fa fa-minus-square"></i>
                                        </td>
                                    {% elif object.is_done == 1 %}
                                        <td style="color: green;" onclick="todo_done('{{ object.id }}', true)" id="cen"
                                            title="已完成">
                                            <i class="fa fa-check-square"></i></td>
                                    {% elif object.is_done == 2 %}
                                        <td style="color: red;" title="已过期" id="cen"><i class="fa fa-window-close"></i>
                                        </td>
                                    {% else %}
                                        <td id="cen">-</td>
                                    {% endif %}
                                    <td>
                                        {% if object.is_done != 2 %}
                                            <a class="btn btn-sm btn-sm-square btn-outline-primary m-2"
                                               href="/nb/do/edit/{{ object.id }}/?page={{ page }}">
                                                <i class="fa fa-paint-brush"></i>
                                            </a>
                                        {% else %}
                                            <a class="btn btn-sm btn-sm-square btn-outline-primary m-2"
                                               href="/nb/do/look/{{ object.id }}/?page={{ page }}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        {% endif %}
                                        <button class="btn btn-square btn-outline-danger m-2"
                                                onclick="return todo_del('{{ object.id }}');">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if is_paginated %}
                <ul class="pagination">
                    {% if first %}
                        {% if search_name %}
                            <li class="page"><a href="?search-input={{ search_name }}&&page=1">1</a>
                            </li>
                        {% else %}
                            <li class="page"><a href="?page=1">1</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if left %}
                        {% if left_has_more %}
                            <li class="page"><a href="javascript:void(0)">...</a></li>
                        {% endif %}
                        {% for i in left %}
                            {% if search_name %}
                                <li class="page"><a
                                        href="?search-input={{ search_name }}&&page={{ i }}">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page"><a href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <li class="page"><a href="javascript:void(0)"
                                        class="active" id="page"> {{ page_obj.number }}</a></li>
                    {% if right %}
                        {% for i in right %}
                            {% if search_name %}
                                <li class="page"><a
                                        href="?search-input={{ search_name }}&&page={{ i }}">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page"><a href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if right_has_more %}
                            <li class="page"><a href="javascript:void(0)">...</a></li>
                        {% endif %}
                    {% endif %}
                    {% if last %}
                        {% if search_name %}
                            <li class="page"><a
                                    href="?search-input={{ search_name }}&&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                            </li>
                        {% else %}
                            <li class="page"><a
                                    href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function todo_done(todo_id, flag) {
            let text = "";
            if (flag) {
                text = "请确认标记未完成.";
            } else {
                text = "请确认标记已完成."
            }
            let dataJson = JSON.stringify({"flag": flag});
            if (window.confirm(text)) {
                let ale = $("#alert");
                let page = "{{ page }}";
                let username = "{{ user.username }}";
                let token = sessionStorage.getItem(username);
                $.ajax({
                    type: "post",
                    url: `/nb/do/done/${todo_id}/`,
                    headers: {
                        "Authorization": token
                    },
                    dataType: "json",
                    data: dataJson,
                    async: false,
                    success: function (result) {
                        let code = result.code
                        let message = result.message
                        if (code === 200) {
                            ale.html("标记成功.").addClass("alert-success").show().delay(1500).fadeOut();
                            setTimeout(function () {
                                top.location.href = `{% url 'todo' %}?page=${page}`
                            }, 1500);
                        } else if (code === 401) {
                            ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                            setTimeout(function () {
                                top.location.href = "{% url 'login' %}";
                            }, 1500);
                        } else {
                            ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        }
                    }, error: function () {
                        ale.html("出现未知异常，请联系Bruce.").addClass('alert-danger').show().delay(1500).fadeOut();
                    }
                })
            } else {
                return false;//取消
            }

        }

        function todo_del(todo_id) {
            if (window.confirm("请确认删除.")) {
                let ale = $("#alert");
                // 删除跳转页面
                let page = "{{ page }}";
                let username = "{{ user.username }}";
                let token = sessionStorage.getItem(username);
                $.ajax({
                    type: "post",
                    url: `/nb/do/del/${todo_id}/`,
                    headers: {
                        "Authorization": token
                    },
                    async: false,
                    success: function (result) {
                        let code = result.code
                        let message = result.message
                        if (code === 200) {
                            ale.html("删除成功.").addClass("alert-success").show().delay(1500).fadeOut();
                            setTimeout(function () {
                                top.location.href = `{% url 'todo' %}?page=${page}`
                            }, 1500);
                        } else if (code === 401) {
                            ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                            setTimeout(function () {
                                top.location.href = "{% url 'login' %}";
                            }, 1500);
                        } else {
                            ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        }
                    }, error: function () {
                        ale.html("出现未知异常，请联系Bruce.").addClass('alert-danger').show().delay(1500).fadeOut();
                    }
                })
            } else {
                return false;//取消
            }

        }
    </script>
{% endblock %}