{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Login</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="Utilizer Login Form template Responsive, Login form web template, Flat Pricing tables, Flat Drop downs Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <!-- Favicon -->
    <link href="{% static 'images/favicon.ico' %}" rel="icon">

    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static 'css/login/style.css' %}" type="text/css" media="all"/>
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/login/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="{% static 'css/login/font.css' %}" rel="stylesheet">
    {#    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700"#}
    {#          rel="stylesheet">#}
    <!-- //Fonts -->
</head>

<body>
<!-- main -->
<div class="main-top-intro">
    <div class="bg-layer">
        <!-- header -->
        <div class="wrapper">
            <header>
                <div class="header-w3layouts">
                    <h1>
                        <a class="navbar-brand logo" href="">
                            Super Niubility
                        </a>
                    </h1>
                </div>

                <div class="buttons mt-lg-0 mt-3 ml-auto">
                    <div class="copy-w3layouts-inf" id="poetry-random">

                    </div>
                </div>
                <div class="clear"></div>


            </header>
            <!-- //header -->
            <div class="content-inner-info">
                <h2>Say Hello !!!</h2>
                <div class="content-w3layouts-main">

                    <div class="form-w3ls-left-info">
                        <form action="{% url 'login' %}" method="post">


                            <input type="text" name="username" placeholder="账户" required/>


                            <input type="password" name="password" placeholder="密码" required/>

                            <div class="links">
                                <p><a href="#">Forgot Password?</a></p>

                            </div>

                            <div class="bottom">
                                <button class="btn" type="submit">Log In</button>
                                <button class="btn reg" type="reset">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
                <p class="errors" style="color: red; font-size: 12px"> {{ error }} </p>
            </div>
            <!-- copyright -->
            <div class="copy-w3layouts-inf">
                <p>© 2022
                    Super Niubility Login. All rights reserved | Design by
                    <a href=""> Bruce.</a>
                </p>
                <div class="clear"></div>
            </div>
            <!-- //copyright -->
        </div>
    </div>
</div>
<!-- //main -->

</body>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
{#<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>#}
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }

    function init() {
        $("#poetry-random").find("p").remove();
        $.ajax({
            type: "get",
            url: "{% url 'poetry_random' %}",
            async: false,
            success: function (result) {
                console.log(result);
                if (result.code === 200) {
                    let content;
                    if (result.data.hasOwnProperty("author")) {
                        content = `<p id="phrase">${result.data.phrase}</p><br><p id="author">--出自${result.data.dynasty}${result.data.author}的《${result.data.poetry_name}》</p>`;
                    } else {
                        content = `<p id="phrase">${result.data.phrase}</p><br><p id="author">--摘自《${result.data.poetry_name}》</p>`;
                    }
                    $("#poetry-random").append(content)
                }
            }
        })
    }

    init();
</script>
</html>
